workflows/03-inbox-manager-gmail.json
{
  "name": "AI Inbox Manager — Gmail (Live Inbox)",
  "nodes": [
    {
      "parameters": {
        "content": "## 1 · Intake\nTrigger, fetch from Gmail, flatten into a common shape.",
        "height": 250,
        "width": 720,
        "color": 3
      },
      "id": "sticky-row-0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -130
      ]
    },
    {
      "parameters": {
        "content": "## 2 · Triage\nClassify with the LLM, then branch on whether a reply is owed.",
        "height": 250,
        "width": 940,
        "color": 5
      },
      "id": "sticky-row-1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        190
      ]
    },
    {
      "parameters": {
        "content": "## 3 · Draft (RAG)\nEmbed the email, search the knowledge base, write a grounded reply.",
        "height": 250,
        "width": 1380,
        "color": 4
      },
      "id": "sticky-row-2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        510
      ]
    },
    {
      "parameters": {
        "content": "## 4 · Collect\nRejoin both branches and summarise the run.",
        "height": 250,
        "width": 940,
        "color": 6
      },
      "id": "sticky-row-3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        830
      ]
    },
    {
      "parameters": {
        "content": "## 5 · Write back to Gmail\nResolve label names to IDs, apply them, then create drafts where one exists.",
        "height": 250,
        "width": 1380,
        "color": 7
      },
      "id": "sticky-row-4",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        1150
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $json;\nconst system = 'You are an email triage engine for a company inbox. Classify the email into exactly one category: sales_inquiry, support, billing, cancellation, partnership, feedback, newsletter, notification, cold_outreach, spam, other.\\n' +\n  'Also assess urgency (high|normal|low), sentiment (positive|neutral|negative), whether a human-quality reply is needed (needs_reply), and write a one-line summary.\\n' +\n  'urgency=high when: outage or blocked work, an imminent deadline, refund dispute, legal threat, charge after cancellation, expiring trial with buying intent, or an angry repeat contact.\\n' +\n  'needs_reply=false for newsletter, notification, spam, and generic cold_outreach.\\n' +\n  'Respond with ONLY a JSON object, no markdown, no explanation: {\"category\":\"...\",\"urgency\":\"...\",\"sentiment\":\"...\",\"needs_reply\":true,\"summary\":\"...\",\"confidence\":0.0}';\nconst user = `From: ${email.from}\\nSubject: ${email.subject}\\n\\n${(email.body || '').slice(0, 6000)}`;\nreturn {\n  json: {\n    email,\n    body: {\n      model: $env.LLM_MODEL_CLASSIFY,\n      temperature: 0,\n      messages: [\n        { role: 'system', content: system },\n        { role: 'user', content: user }\n      ]\n    }\n  }\n};"
      },
      "id": "build-classify",
      "name": "Build Classify Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 60000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 6500
            }
          }
        }
      },
      "id": "llm-classify",
      "name": "LLM: Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $('Build Classify Request').item.json.email;\nlet raw = $json.choices?.[0]?.message?.content ?? '';\nraw = raw.replace(/```json|```/g, '').trim();\nlet c = {};\ntry { c = JSON.parse(raw); } catch (e) { /* fall through to defaults */ }\nconst VALID = ['sales_inquiry','support','billing','cancellation','partnership','feedback','newsletter','notification','cold_outreach','spam','other'];\nconst classification = {\n  category: VALID.includes(c.category) ? c.category : 'other',\n  urgency: ['high','normal','low'].includes(c.urgency) ? c.urgency : 'normal',\n  sentiment: ['positive','neutral','negative'].includes(c.sentiment) ? c.sentiment : 'neutral',\n  needs_reply: typeof c.needs_reply === 'boolean' ? c.needs_reply : true,\n  summary: typeof c.summary === 'string' ? c.summary : '',\n  confidence: typeof c.confidence === 'number' ? c.confidence : null\n};\nreturn { json: { ...email, classification } };"
      },
      "id": "parse-classify",
      "name": "Parse Classification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.classification.needs_reply }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-needs-reply",
      "name": "Needs Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const email = $json;\nconst query = `${email.subject}\\n${(email.body || '').slice(0, 3000)}`;\nreturn { json: { body: { model: $env.EMBEDDING_MODEL, input: query } } };"
      },
      "id": "build-embed",
      "name": "Build Embed Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_BASE_URL }}/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 60000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "embed-query",
      "name": "Embed Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        640
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.QDRANT_URL }}/collections/flowdesk_kb/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vector: $json.data[0].embedding, limit: 4, with_payload: true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "search-kb",
      "name": "Search KB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        640
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $('Parse Classification').item.json;\nconst hits = ($json.result || [])\n  .map(r => `[source: ${r.payload.source}]\\n${r.payload.text}`)\n  .join('\\n\\n---\\n\\n');\nconst system = 'You draft email replies for Flowdesk customer support. Rules:\\n' +\n  '- Use ONLY facts found in the KNOWLEDGE BASE CONTEXT. Never invent policies, prices, features, or dates.\\n' +\n  '- If the answer is not in the context, write [CHECK: what a human must verify] in that spot.\\n' +\n  '- Tone: friendly, direct, no corporate filler. Apologize at most once, then focus on the fix and a concrete next step.\\n' +\n  '- Keep it under 150 words. Sign off as \"Flowdesk Support\".\\n' +\n  '- Output the reply body only — no subject line, no preamble.';\nconst user = `KNOWLEDGE BASE CONTEXT:\\n${hits || '(no relevant context found)'}\\n\\nINCOMING EMAIL:\\nFrom: ${item.from}\\nSubject: ${item.subject}\\n\\n${item.body}\\n\\nCLASSIFICATION: ${JSON.stringify(item.classification)}\\n\\nDraft the reply.`;\nreturn {\n  json: {\n    body: {\n      model: $env.LLM_MODEL_DRAFT,\n      temperature: 0.3,\n      messages: [\n        { role: 'system', content: system },\n        { role: 'user', content: user }\n      ]\n    }\n  }\n};"
      },
      "id": "build-draft",
      "name": "Build Draft Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LLM_BASE_URL }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "timeout": 90000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 12000
            }
          }
        }
      },
      "id": "llm-draft",
      "name": "LLM: Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        640
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base = $('Parse Classification').item.json;\nconst kb = $('Search KB').item.json;\nconst sources = (kb?.result || []).map(r => r.payload.source);\nconst draft = $json.choices?.[0]?.message?.content?.trim() || '';\n// If the LLM call failed (quota/rate limit/timeout), keep the triage result and\n// flag the draft for retry instead of losing the whole run.\nconst err = $json.error?.message || $json.error || (draft ? null : 'no draft returned');\nreturn { json: { ...base, draft_reply: draft,\n  draft_status: draft ? 'ok' : 'failed',\n  draft_error: draft ? null : String(err),\n  kb_status: kb?.result ? 'ok' : 'unavailable',\n  kb_sources: [...new Set(sources)] } };"
      },
      "id": "parse-draft",
      "name": "Parse Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        640
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-branches",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        0,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(i => i.json);\nconst by_category = {};\nfor (const r of results) {\n  const c = r.classification?.category || 'other';\n  by_category[c] = (by_category[c] || 0) + 1;\n}\nconst urgent = results\n  .filter(r => r.classification?.urgency === 'high')\n  .map(r => ({ id: r.id, from: r.from, subject: r.subject, summary: r.classification.summary }));\nreturn [{\n  json: {\n    run_at: new Date().toISOString(),\n    total: results.length,\n    drafted: results.filter(r => r.draft_reply).length,\n    by_category,\n    urgent,\n    results\n  }\n}];"
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ ($env.SLACK_WEBHOOK_URL || '').length > 0 && $json.urgent.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-slack",
      "name": "Urgent + Slack Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '🚨 ' + $json.urgent.length + ' urgent email(s) need attention:\\n' + $json.urgent.map(u => '• ' + u.from + ' — ' + u.subject).join('\\n') }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "slack-alert",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        960
      ]
    },
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "={{ $env.GMAIL_QUERY }}"
        },
        "options": {}
      },
      "id": "trigger-gmail",
      "name": "Gmail Trigger (production)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -150
      ],
      "disabled": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": "={{ parseInt($env.GMAIL_FETCH_LIMIT || '5', 10) }}",
        "simple": false,
        "filters": {
          "q": "={{ $env.GMAIL_QUERY }}"
        },
        "options": {}
      },
      "id": "gmail-fetch",
      "name": "Gmail: Fetch Messages",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize a Gmail message into the same shape the mock workflow uses,\n// so every downstream node is identical between the demo and live versions.\n//\n// The Gmail node (simple:false) hands back PARSED fields at the top level:\n//   subject -> string\n//   from/to -> mailparser objects: { value: [{ address, name }], text, html }\n//   text/html -> body\n// The raw Gmail API instead nests payload.headers as [{name,value}]. Handle\n// both, so this works behind the polling trigger as well as the fetch node.\nconst m = $json;\n\nconst stripHtml = (s) => String(s)\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&')\n  .replace(/\\s+/g, ' ').trim();\n\n// Raw-API fallback: payload.headers as an array of {name, value}\nconst raw = {};\nif (Array.isArray(m.payload && m.payload.headers)) {\n  for (const h of m.payload.headers) raw[String(h.name).toLowerCase()] = h.value;\n}\n\n// Pull a bare address out of whatever shape we were given.\nfunction addressOf(v) {\n  if (!v) return '';\n  if (typeof v === 'string') {\n    const hit = v.match(/<([^>]+)>/);\n    return (hit ? hit[1] : v).trim();\n  }\n  const first = (v.value && v.value[0]) || null;\n  if (first && first.address) return String(first.address).trim();\n  const text = String(v.text || '');\n  const hit = text.match(/<([^>]+)>/);\n  return (hit ? hit[1] : text).trim();\n}\n\nfunction displayName(v) {\n  if (!v) return '';\n  if (typeof v === 'string') return v;\n  const first = (v.value && v.value[0]) || null;\n  if (first && first.name) return String(first.name);\n  return addressOf(v);\n}\n\nlet body = m.text || '';\nif (!body && m.html) body = stripHtml(m.html);\nif (!body) body = m.snippet || '';\n\nconst fromEmail = addressOf(m.from) || addressOf(raw.from);\nconst subject = m.subject || raw.subject || '(no subject)';\nconst receivedAt = m.date || raw.date || null;\n\nreturn { json: {\n  id: m.id,\n  threadId: m.threadId,\n  from: fromEmail || '(unknown sender)',\n  from_name: displayName(m.from) || fromEmail,\n  to: addressOf(m.to) || addressOf(raw.to),\n  subject,\n  body: String(body).slice(0, 8000),\n  received_at: receivedAt,\n} };"
      },
      "id": "normalize-gmail",
      "name": "Normalize Gmail Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ ($json.draft_reply || '').length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-has-draft",
      "name": "Has Draft?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        1280
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "=Re: {{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.draft_reply }}",
        "options": {
          "threadId": "={{ $json.threadId }}",
          "sendTo": "={{ $json.from }}"
        }
      },
      "id": "gmail-draft",
      "name": "Gmail: Create Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1100,
        1280
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Creates a DRAFT only. Never sends. A human reviews and presses send."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "id": "gmail-labels-list",
      "name": "Fetch Gmail Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1280
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "FdzfwgorpdokGgH1",
          "name": "Gmail account"
        }
      },
      "notes": "Label IDs are account-specific, so resolve names -> IDs at run time."
    },
    {
      "parameters": {
        "jsCode": "// Decide which labels this email earns, from the classification the LLM produced.\n// Category label + a status label (drafted vs not) + urgency flag.\nconst email = $('Merge').item.json;\nconst byName = {};\nfor (const l of ($json.labels || [])) byName[l.name] = l.id;\n\nconst CATEGORY_LABEL = {\n  sales_inquiry: 'AI/Sales',\n  support:       'AI/Support',\n  billing:       'AI/Billing',\n  cancellation:  'AI/Cancellation',\n  partnership:   'AI/Partnership',\n  feedback:      'AI/Feedback',\n  newsletter:    'AI/Newsletter',\n  notification:  'AI/Notification',\n  cold_outreach: 'AI/Cold Outreach',\n  spam:          'AI/Spam',\n  other:         'AI/Other',\n};\n\nconst c = email.classification || {};\nconst hasDraft = !!(email.draft_reply && String(email.draft_reply).trim());\n\nconst names = [];\nnames.push(CATEGORY_LABEL[c.category] || 'AI/Other');\nnames.push(hasDraft ? 'AI/Needs Review' : 'AI/No Reply Needed');\nif (c.urgency === 'high') names.push('AI/Urgent');\n\nconst addLabelIds = names.map(n => byName[n]).filter(Boolean);\n\n// Drop the intake label so a re-run never processes the same mail twice.\nconst removeLabelIds = byName['ai-triage'] ? [byName['ai-triage']] : [];\n\nreturn { json: { ...email, applied_labels: names, addLabelIds, removeLabelIds, has_draft: hasDraft } };",
        "mode": "runOnceForEachItem"
      },
      "id": "gmail-resolve-labels",
      "name": "Resolve Labels",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        1280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.id }}/modify",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ addLabelIds: $json.addLabelIds, removeLabelIds: $json.removeLabelIds }) }}",
        "options": {}
      },
      "id": "gmail-apply-labels",
      "name": "Gmail: Apply Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        1280
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "FdzfwgorpdokGgH1",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// The modify call returns the Gmail message resource, which would clobber our\n// item. Put the enriched email back so the draft nodes still see their fields.\nreturn { json: $('Resolve Labels').item.json };",
        "mode": "runOnceForEachItem"
      },
      "id": "gmail-restore",
      "name": "Restore Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        1280
      ]
    }
  ],
  "connections": {
    "Build Classify Request": {
      "main": [
        [
          {
            "node": "LLM: Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Classify": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Needs Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Reply?": {
      "main": [
        [
          {
            "node": "Build Embed Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Embed Request": {
      "main": [
        [
          {
            "node": "Embed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          {
            "node": "Search KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search KB": {
      "main": [
        [
          {
            "node": "Build Draft Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Draft Request": {
      "main": [
        [
          {
            "node": "LLM: Draft Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Draft Reply": {
      "main": [
        [
          {
            "node": "Parse Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Draft": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Fetch Gmail Labels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Urgent + Slack Configured?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgent + Slack Configured?": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Run Manually": {
      "main": [
        [
          {
            "node": "Gmail: Fetch Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger (production)": {
      "main": [
        [
          {
            "node": "Normalize Gmail Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Fetch Messages": {
      "main": [
        [
          {
            "node": "Normalize Gmail Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Gmail Message": {
      "main": [
        [
          {
            "node": "Build Classify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Draft?": {
      "main": [
        [
          {
            "node": "Gmail: Create Draft",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Gmail Labels": {
      "main": [
        [
          {
            "node": "Resolve Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Labels": {
      "main": [
        [
          {
            "node": "Gmail: Apply Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Apply Labels": {
      "main": [
        [
          {
            "node": "Restore Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Item": {
      "main": [
        [
          {
            "node": "Has Draft?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "GmailInboxMgr01"
}